<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="cityName" value="Mumbai"/>
    <parameter name="courseName" value="Java"/>
    <parameter name="browserName" value="chrome"/>
    <listeners>
        <listener class-name="testng.listeners.Transformation"/>
    </listeners>
    <groups>
        <run>
            <exclude name="smoke"/>
        </run>
    </groups>
    <test verbose="2" preserve-order="true" parallel="false" thread-count="3" name="C:/Users/cebsu/IdeaProjects/Maven_3_Dec_24">
        <classes>
            <class name="testng.basicsoftestng.PriorityExample"/>
        </classes>
    </test>
</suite>